[Unit]
Description=Enables Tailscale usage through the specified network interface %i
After=tailscaled.service

[Service]
ExecStart=/bin/sh -c "PORT=$(lsof -i4UDP -P -n | grep -i 'tailscale' | awk '{print $9}' | cut -d: -f2); \
                      systemctl start tailgate-allow@%i-$PORT.service"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
